<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Test</title>
</head>
<body>
<h2>
    Generate test
</h2>
<form name="generateTest" method="post">
    <label for="name"> Enter name:
        <input th:value="${previous.name eq null ? '' : previous.name}"
               id="name" name="name" type="text">
    </label>
    <label for="selectTestDifficulty"> Select difficulty
        <select id="selectTestDifficulty" name="difficulty">
            <option th:each="testDifficulty, testDifficultyStat : ${difficulties}"
                    th:value="${testDifficulty}"
                    th:text="${testDifficulty}"
                    th:selected="${previous.difficulty eq null
                    ? testDifficultyStat.count == 1
                    : testDifficulty eq previous.difficulty}">
            </option>
        </select>
    </label>
    <label for="startDate"> Select start date:
        <input th:value="${previous.startDate eq null
                ? '' : #temporals.format(previous.startDate, 'dd-MM-yyyy HH:mm')}"
               th:min="${#temporals.createNow()}"
               type="datetime-local" id="startDate" name="startDate">
    </label>
    <label for="finishDate"> Select finish date:
        <input th:value="${previous.finishDate eq null
                ? '' : #temporals.format(previous.finishDate, 'dd-MM-yyyy HH:mm')}"
               th:min="${#temporals.createNow()}"
               type="datetime-local" id="finishDate" name="finishDate">
    </label>
    <label for="timeLimit"> Select time limit (select 0 for unlimited time)
        <input th:value="${previous.timeLimit eq null
                ? '' : #temporals.format(previous.timeLimit, 'HH:mm')}"
               type="time" id="timeLimit" name="timeLimit">
    </label>
    <label for="questionCount">
        <input th:value="${previous.questionsCount eq null
                        ? 0 : previous.questionsCount}"
               type="number" min="0" id="questionCount" name="questionCount">
    </label>
    <label>
        <input th:selected="${previous.includeMe ne null}"
               type="checkbox" value="includeMe"
               name="includeMe" id="includeMe">
    </label>

</form>
</body>
</html>