<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Intro</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<header th:insert="fragments/general.html :: userHeader">
</header>
<main>
    <h2 style="text-align: center" th:text="${test.name}">
    </h2>
    <p th:text="'Author username: ' + ${test.authorUsername}"></p>
    <p th:text="'Topics: ' + ${#strings.listJoin(test.topics, ', ')}"></p>
    <p th:text="'Start date: ' + ${#temporals.format(test.dateStarted, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="'Finish date: ' + ${#temporals.format(test.dateFinish, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="'Time limit: ' + ${#temporals.format(test.timeLimit, 'HH:mm')}"></p>
    <p th:text="'Amount of questions: ' + ${test.questionsCount}"></p>
    <p th:text="'Difficulty: ' + ${test.difficulty}"></p>

    <div th:replace="fragments/general.html :: error(${error})">
    </div>

    <form method="post">
        <button type="button" class="btn btn-secondary mb-3">
            <a style="color: white" th:href="@{/user/tests}">
                Back
            </a>
        </button>
        <button type="submit" style="float: right" class="btn btn-primary mb-3"
                th:disabled="${error ne null}">
            Start
        </button>
    </form>
</main>
<footer th:replace="fragments/general.html :: footer">
</footer>
<th:block th:include="fragments/general.html :: scriptfiles">
</th:block>
</body>
</html>