<!DOCTYPE html>
<html lang="en">
<head>
    <title>Info About Test</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<header th:insert="fragments/general.html :: userHeader">
</header>
<main>
    <h2 style="text-align: center" th:text="'Results of ' + ${resultsInfo.name}">
    </h2>
    <p th:text="'Topics: ' + ${#strings.listJoin(resultsInfo.topics, ', ')}"></p>
    <p th:text="'Start date: ' + ${#temporals.format(resultsInfo.dateStarted, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="'Finish date: ' + ${#temporals.format(resultsInfo.dateFinish, 'dd-MM-yyyy HH:mm')}"></p>
    <p th:text="'Time limit: ' + ${#temporals.format(resultsInfo.timeLimit, 'HH:mm') eq '00:00'
                                        ? 'no limit'
                                        : #temporals.format(resultsInfo.timeLimit, 'HH:mm')}"></p>
    <p th:text="'Amount of questions: ' + ${resultsInfo.questionsCount}"></p>
    <p th:text="'Difficulty: ' + ${resultsInfo.difficulty}"></p>
    <p th:text="'Users finished: ' + ${resultsInfo.usersFinished + '/' + resultsInfo.usersAssigned}"></p>
    <p th:text="'Average Mark: ' + ${resultsInfo.averageMark + '/100'}"></p>

    <h3>Finished Tests: </h3>
    <div class="result" th:each="username : ${resultsInfo.userCompletedUsernames}">
        <h4>
            <a th:text="${username}"
               th:href="@{/test/{testId}/results(user=${username},testId=${testId})}"
               style="text-decoration: none"></a>
        </h4>
    </div>
    <button type="button" class="btn btn-secondary mb-3">
        <a style="color: white" th:href="@{/user/tests/1(type='Created')}">
            Back
        </a>
    </button>
</main>
<footer th:replace="fragments/general.html :: footer">
</footer>
<th:block th:include="fragments/general.html :: scriptfiles">
</th:block>
</body>
</html>