<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test walkthrough</title>
</head>
<body>
<form name="testWalkthrough" method="post">
    <div th:if="${!isUnlimitedTime}"
         th:text="${timeLeft}"
         id="timeLeft">
    </div>
    <input th:value="${question.questionId}"
           type="hidden" name="questionId">
    <input th:value="${question.answerType}"
           type="hidden" name="answerType">
    <p th:text="${question.questionText} + ': '"></p>
    <img th:if="${question.questionType eq 'Text with photo'}"
         th:src="${#strings.concat('/uploads/', question.questionMedia)}"
         th:alt="${question.questionMedia}"
         style="width: 750px"/>
    <audio th:if="${question.questionType eq 'Text with audio'}"
           controls>
        <source th:src="${#strings.concat('/uploads/', question.questionMedia)}"
        />
    </audio>
    <video th:if="${question.questionType eq 'Text with video'}"
           controls>
        <source th:src="${#strings.concat('/uploads/', question.questionMedia)}"
        />
    </video>
    <p th:text="${question.questionAnswerDescription}"></p>
    <th:block th:if="${question.answerType eq 'Single'}">
        <th:block th:each="answer : ${question.answersVariants}">
            <input th:readonly="${!hasTimeToComplete}"
                   th:checked="${!#lists.isEmpty(answers.answers)}
                            and ${#lists.contains(answers.answers, answer)}"
                   th:value="${answer}"
                   type="radio" name="answers">
            <span th:text="${answer}"></span>
        </th:block>
    </th:block>
    <th:block th:if="${question.answerType eq 'Multiple'}">
        <th:block th:each="answer : ${question.answersVariants}">
            <input th:readonly="${!hasTimeToComplete}"
                   th:checked="${!#lists.isEmpty(answers.answers)}
                            and ${#lists.contains(answers.answers, answer)}"
                   th:value="${answer}"
                   type="checkbox" name="answers">
            <span th:text="${answer}"></span>
        </th:block>
    </th:block>
    <th:block th:if="${question.answerType eq 'Custom'}">
        <label> Enter answer:
            <input th:readonly="${!hasTimeToComplete}"
                   th:value="${!#lists.isEmpty(answers.answers) ? answers.answers[0] : ''}"
                   name="answers" type="text">
        </label>
    </th:block>
    <th:block th:if="${question.answerType eq 'Match'}">
        <th:block th:each="subQuestionText, subQuestionTextStat : ${answers.subQuestionsText}">
            <label> <span th:text="${subQuestionTextStat.count} + '. '"></span>
                <input th:value="${subQuestionText}"
                       type="text" readonly name="subQuestionsText">
            </label>
            <select name="answers" id="selectVariant">
                <option th:if="${answers.matchQuestionNumOfAnswers eq null and !hasTimeToComplete}"
                        selected>
                </option>
                <option th:each="answer, answerStat : ${answers.answers}"
                        th:value="${answer}"
                        th:selected="${answers.matchQuestionNumOfAnswers eq null
                        ? (!hasTimeToComplete ? false : answerStat.count eq 1 )
                        : answerStat.index eq
                            answers.matchQuestionNumOfAnswers[subQuestionTextStat.index]}"
                        th:text="${answerStat.count}">
                </option>
            </select>
            <span th:text="${subQuestionTextStat.count} + '. ' +
                    ${answers.answers[subQuestionTextStat.index]}"></span>
            <br>
        </th:block>
    </th:block>

    <input th:if="${question.previousNumber ne 0}"
           th:value="${question.previousNumber}"
           type="hidden" name="previousNumber">
    <input th:if="${!question.isLast}"
           th:value="${question.nextNumber}"
           type="hidden" name="nextNumber">

    <br>
    <input th:if="${question.previousNumber ne 0}"
           type="submit" id="previous" value="Previous Question">
    <input th:if="${!question.isLast}"
           type="submit" id="next" value="Next Question">
    <input th:if="${question.isLast}"
           type="submit" id="submit" value="Finish test">
</form>
<script src="/static/scripts/testWalkthrough.js" type="text/javascript"></script>
</body>
</html>