<!DOCTYPE html>
<html lang="en">
<head>
    <title>Topics</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<th:block th:switch="${#authentication.authorities[0].authority}">
    <header th:case="'USER'"
            th:insert="fragments/general.html :: userHeader">
    </header>
    <header th:case="'ADMIN'"
            th:insert="fragments/general.html :: adminHeader">
    </header>
    <header th:case="*"
            th:insert="fragments/general.html :: guestHeader">
    </header>
</th:block>
<main>
    <div>
        <h3>Search for Topics</h3>
        <form method="get" th:action="@{search}" onsubmit="return validateSearch()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="mb-3 row">
                <label for="query" class="col-sm-4 col-form-label">Enter name: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="query" name="query">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3" id="submit">Search</button>
        </form>
    </div>
    <div th:replace="fragments/general.html :: error(null)">
    </div>
    <div>
        <h2>Topics</h2>
        <p th:if="${#lists.isEmpty(topics)}">
            There are no topics with such parameters!!!
        </p>
        <div class="topic" th:each="topic : ${topics}">
            <h4 class="topicName" th:text="${topic.name}"></h4>
            <a th:href="@{/topic/{id}/questions(id=${topic.id})}">Questions</a>
        </div>
    </div>
    <th:block th:if="${!#lists.isEmpty(topics)}">
        <div th:replace="fragments/pagination.html ::
                    pagination(null, null, ${isSearch}, ${name}, ${currentPage}, ${totalPages})">
        </div>
    </th:block>
</main>
<footer th:replace="fragments/general.html :: footer">
</footer>
<script src="/static/scripts/searchValidation.js" type="text/javascript"></script>
<th:block th:include="fragments/general.html :: scriptfiles">
</th:block>
</body>
</html>