<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Topic To Add Question</title>
    <link href="/static/styles/error.css" rel="stylesheet">
</head>
<body>
<form method="get" onsubmit="return validateTopicSearch()">
    <label>
        <input type="text" name="name">
    </label>
    <input type="submit" value="Search topic">
</form>
<div id="error">
</div>
<form method="post" name="chooseTopic" onsubmit="return validateChooseTopic()">
    <div th:if="${topics} ne null and ${!#lists.isEmpty(topics)}"
         th:each="topic : ${topics}">
        <label>
            <input th:value="${topic.name}"
                   type="radio" name="topicName" class="topicRadio">
        </label>
        <span th:text="${topic.name}"></span>
    </div>

    <button>
        Choose topic
    </button>
</form>
<script src="/scripts/chooseTopicValidation.js" type="text/javascript"></script>
<script src="/scripts/searchValidation.js" type="text/javascript"></script>
</body>
</html>