<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Tests</title>
    <link href="/static/styles/error.css" rel="stylesheet">
    <link href="/static/styles/common.css" rel="stylesheet">
</head>
<body>
<div>
    <form method="get" onsubmit="return validateTestSearch()">
        <label> Enter name:
            <input type="text" name="name">
        </label>
        <input type="submit" value="Search">
        <br>
        <label> Select type:
            <select name="type">
                <option th:each="type : ${testTypes}"
                        th:selected="${chosenTestType eq type}"
                        th:value="${type}"
                        th:text="${type}">
                </option>
            </select>
        </label>
        <br>
        <input type="submit" value="Apply">
    </form>
</div>
<div id="error" th:text="${error ?: ''}"></div>
<button>
    <a th:href="@{/tests/generate}">Generate Test</a>
</button>
<div id="tests">
    <p th:if="${#lists.isEmpty(tests)}">
        There are no tests with such parameters!!!
    </p>
    <div th:each="test : ${tests}">
        <h4 th:text="${#strings.length(test.name) > 100
                ? #strings.substring(test.name, 0, 100)
                : test.name}"></h4>
        <th:block th:switch="${chosenTestType}">
            <a th:case="'Assigned'"
               th:href="@{/test/{testId}/intro(testId=${test.id})}"> Start
            </a>
            <a th:case="'Created'"
               th:href="@{/test/{testId}/results(testId=${test.id})}"> Results
            </a>
            <a th:case="'Finished'"
               th:href="@{/test/{testId}/results(testId=${test.id}, user=${username})}"> Result
            </a>
            <a th:case="'Current'"
               th:href="@{/test/{testId}/walkthrough(testId=${test.id})}"> Continue
            </a>
        </th:block>
    </div>
</div>
<div id="pagination">
</div>
<script src="/static/scripts/searchValidation.js" type="text/javascript"></script>
</body>
</html>