<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<th:block th:switch="${#authentication.authorities[0].authority}">
    <header th:case="'USER'"
            th:insert="fragments/general.html :: userHeader">
    </header>
    <header th:case="'ADMIN'"
            th:insert="fragments/general.html :: adminHeader">
    </header>
    <header th:case="*"
            th:insert="fragments/general.html :: guestHeader">
    </header>
</th:block>
<main>
    <div class="alert alert-danger" role="alert">
        Error has occurred. Do not change anything in url!!!
    </div>
</main>
<footer th:replace="fragments/general.html :: footer">
</footer>
<th:block th:include="fragments/general.html :: scriptfiles">
</th:block>
</body>
</html>