<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add topic</title>
    <link href="/static/styles/error.css" rel="stylesheet">
</head>
<body>
<h1>Add topic</h1>
<br>
<form name="addTopic" method="post" action="/topics/add" onsubmit="return topicValidation()">
    <label for="name"> Name:
        <input id="name" name="name" type="text"/>
    </label>
    <div id="error" th:text="${error} ?: ''">
    </div>
    <input type="submit" value="Add Topic">
</form>
<script src="/static/scripts/topicValidation.js" type="text/javascript"></script>
</body>
</html>