<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit topic</title>
    <link href="/static/styles/error.css" rel="stylesheet">
</head>
<body>
<h1>Edit topic</h1>
<br>
<form name="addTopic" method="post" th:action="@{/topics/edit/{id}(id=${topic.id})}">
    <label for="name"> Name:
        <input id="name" name="name" th:value="${topic.name}" type="text"/>
    </label>
    <div id="error" th:text="${error} ?: ''">
    </div>
    <input type="submit" value="Edit Topic">
</form>
</body>
</html>