<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
    <link href="/static/styles/error.css" rel="stylesheet">
</head>
<body>
<form name="addQuestion" method="post" enctype="multipart/form-data" onsubmit="return validateAddForm()">
    <label for="selectQuestionType">Select question type: </label>
    <select id="selectQuestionType" name="questionType">
        <option th:each="questionType, questionTypeStat : ${questionTypes}" th:value="${questionType}"
                th:text="${questionType}"
                th:selected="${questionTypeStat.count == 1}">
        </option>
    </select>

    <div id="questionTypeInfo">
        <label for="questionText">Enter question text: </label>
        <textarea id="questionText" name="questionText">
        </textarea>
        <input type="file" name="media" id="media" disabled>
    </div>

    <br>
    <label for="selectQuestionDifficulty">Select question difficulty: </label>
    <select id="selectQuestionDifficulty" name="questionDifficulty">
        <option th:each="questionDifficulty, questionDifficultyStat : ${questionDifficulties}"
                th:value="${questionDifficulty}"
                th:text="${questionDifficulty}"
                th:selected="${questionDifficultyStat.count == 1}">
        </option>
    </select>

    <br>
    <label for="answerDescription">Enter answer description (notes): </label>
    <textarea name="answerDescription" id="answerDescription">
    </textarea>

    <br>
    <label for="selectAnswerType">Select answer type: </label>
    <select id="selectAnswerType" name="answerType">
        <option th:each="answerType, answerTypeStat : ${answerTypes}" th:value="${answerType}"
                th:text="${answerType}"
                th:selected="${answerTypeStat.count == 1}">
        </option>
    </select>

    <br>
    <div id="answersDiv">
    </div>

    <br>
    <div id="error">
    </div>

    <button type="submit">Add Question</button>
</form>
<script src="/static/scripts/questionPage.js" type="text/javascript"></script>
</body>
</html>