<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
    <link href="/static/styles/error.css" rel="stylesheet">
</head>
<body>
<form name="editQuestion" method="post" enctype="multipart/form-data" onsubmit="return validateEditForm()">
    <label for="selectQuestionType">
        Select question type:
    </label>
    <select id="selectQuestionType" name="questionType">
        <option th:each="questionType: ${questionTypes}"
                th:value="${questionType}"
                th:text="${questionType}"
                th:selected="${questionType} eq ${question.type.text}">
        </option>
    </select>

    <div id="questionTypeInfo">
        <label for="questionText">
            Enter question text:
        </label>
        <textarea th:text="${question.text}"
                  id="questionText" name="questionText">
        </textarea>
        <input th:disabled="${question.type.text} eq 'Text'"
               type="file" name="media" id="media">
    </div>

    <br>
    <label for="selectQuestionDifficulty">
        Select question difficulty:
    </label>
    <select id="selectQuestionDifficulty" name="questionDifficulty">
        <option th:each="questionDifficulty : ${questionDifficulties}"
                th:value="${questionDifficulty}"
                th:text="${questionDifficulty}"
                th:selected="${questionDifficulty} eq ${question.difficulty.text}">
        </option>
    </select>

    <br>
    <label for="answerDescription">Enter answer description (notes): </label>
    <textarea th:text="${question.answerDescription}"
              name="answerDescription" id="answerDescription">
    </textarea>

    <br>
    <label for="selectAnswerType">Select answer type: </label>
    <select id="selectAnswerType" name="answerType" read>
        <option th:each="answerType: ${answerTypes}"
                th:value="${answerType}"
                th:text="${answerType}"
                th:selected="${answerType} eq ${question.answerType.text}">
        </option>
    </select>

    <br>
    <div id="answersDiv">
        <button type="button" id="addAnswerButton">
            Add answer
        </button>
        <div class="answerDiv" th:each="answer, answerStat : ${answers}">
            <th:block th:if="${question.answerType.text} eq 'Match'">
                <input th:value="${subQuestions[answerStat.index].id}"
                       type="hidden" name="subQuestionIds"/>
                <input th:value="${answer.id}"
                       type="hidden" name="answerIds"/>
                <label th:for="'subQuestion' + ${answerStat.index}">
                    Enter first part:
                </label>
                <input th:id="'subQuestion' + ${answerStat.index}"
                       th:value="${subQuestions[answerStat.index].text}"
                       type="text" name="subQuestions" class="subQuestion"/>
                <br>
                <label th:for="'answer' + ${answerStat.index}">
                    Enter second part:
                </label>
                <input th:value="${answer.text}"
                       th:id="'answer' + ${answerStat.index}"
                       type="text" name="answers" class="answer"/>
                <button type="button">
                    Delete answer
                </button>
            </th:block>

            <th:block th:if="${question.answerType.text} eq 'Custom'">
                <input th:value="${answer.id}"
                       type="hidden" name="answerIds"/>
                <label for="answer">
                    Enter custom answer:
                </label>
                <input th:if="${question.answerType.text} eq 'Custom'"
                       th:value="${answer.text}" type="text" name="answers" id="answer"/>
                <button type="button">
                    Delete answer
                </button>
            </th:block>


            <th:block th:if="${question.answerType.text} eq 'Single' or
                            ${question.answerType.text} eq 'Multiple'">
                <input th:value="${answer.id}"
                       type="hidden" name="answerIds"/>
                <label th:for="'answer' + ${answerStat.index}">
                    Enter answer:
                </label>
                <input th:value="${answer.text}"
                       th:id="'answer' + ${answerStat.index}"
                       type="text" name="answers" class="answer"/>
                <input th:value="${answerStat.index}"
                       th:checked="${answer.isCorrect}"
                       th:id="'checkbox' + ${answerStat.index}"
                       type="checkbox" name="isCorrect" class="isCorrect"/>
                <label th:for="'checkbox' + ${answerStat.index}">
                    Set correct
                </label>
                <button type="button">
                    Delete answer
                </button>
            </th:block>

        </div>

    </div>

    <br>
    <div id="error">
    </div>

    <button type="submit">Edit Question</button>
</form>
<script src="/static/scripts/questionPage.js" type="text/javascript"></script>
<script src="/static/scripts/editQuestion.js" type="text/javascript"></script>
</body>
</html>