html, body {
    height: 100%;
}

body {
    font-size: medium;
    background-color: #b8ffa3;
}

a {
    text-decoration: none;
}

#header, #footer {
    width: 100%;
    background-color: darkkhaki;
    height: 12%;
    padding: 15px;
}

#header {
    text-align: right;
}

#footer {
    text-align: center;
}

#header > a, #footer > a {
    margin-right: 10px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    background-color: antiquewhite;
    min-height: 80.5%;
    height: auto;
}

.topic, .question, .test, .result {
    border: 5px solid sandybrown;
    margin: 5px 5px;
    padding: 5px;
}

.topicName, .questionText, .testName .question > a, .question > p, .topic > a {
    margin-left: 10px;
}

#footerText, #pagination {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pagination {
    margin-top: 40px;
}